<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.png">

    <title>My Drive - airDrive</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/drive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="dropzone"></div>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/drive"><img src="/images/logo-black.png" width="32" height="32" />airDrive</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <div class="navbar-form navbar-right">
            <a href="/signout"><button class="btn btn-primary">Sign out</button></a>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid main-content">
      <div class="row">
        <div class="col-md-3 favorites">
          <ul class="list-group">
            <li class="list-group-item"><a href="#Documents">Documents</a></li>
            <li class="list-group-item"><a href="#Photos">Photos</a></li>
            <li class="list-group-item"><a href="#Videos">Videos</a></li>
          </ul>
        </div>
        <div class="col-md-7 browser">
          <ol class="breadcrumb">
            Loading...
          </ol>
          <div class="files">
            Loading...
          </div>
        </div>
        <div class="col-md-2 links">
          <a href="#"><span class="fa fa-plus-circle"></span>Upload</a>
          <a href="#"><span class="fa fa-plus-circle"></span>New Folder</a>
          <div class="drag-option share">
            <span class="fa fa-4x fa-fw fa-share-square-o"></span>
            Drag to share
          </div>
          <div class="drag-option rename">
            <span class="fa fa-4x fa-fw fa-pencil-square-o"></span>
            Drag to rename
          </div>
          <div class="drag-option trash">
            <span class="fa fa-4x fa-fw fa-trash"></span>
            Drag to trash
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <div class="upload">
    </div>

    <!-- Share Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="shareModalLabel">Share</h4>
          </div>
          <form>
            <div class="modal-body">
              <label>
                Share with:
                <input type="text" class="form-control" placeholder="jane.smith@gmail.com, john.doe@gmail.com"/>
              </label>
              <label>
                <input type="checkbox" />
                Allow anyone with the link to view
              </label>
              <label>
                Optional message:
                <textarea class="form-control"></textarea>
              </label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Share</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Rename Modal -->
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="renameModalLabel">Rename</h4>
          </div>
          <form>
            <div class="modal-body">
              <label>
                Name:
                <input type="text" class="form-control" />
              </label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Rename</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="errorModalLabel">Error</h4>
          </div>
          <form>
            <div class="modal-body">
              <span class="message">
              </span>
              Please reload the page and try again.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="reload">Reload</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/21153cb4c1.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
    <script src="/javascripts/resumable.js"></script>
    <script src="/javascripts/FileSaver.min.js"></script>
    <script src="/javascripts/aes.js"></script>
    <script src="/javascripts/lib-typedarrays-min.js"></script>
    <script src="/javascripts/pbkdf2.js"></script>
    <script src="/javascripts/drive.js"></script>
  </body>
</html>
