<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.png">

    <title>Secure distributed cloud storage - airDrive</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/logo.png" width="32" height="32" />airDrive</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form navbar-right" method="post" action="/login">
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control"name="email" >
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="pass">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid section main-content">
      <div class="grab">
        <h1>Take control of your data</h1>
        <h2>with free encrypted and distributed cloud storage.</h2>
      </div>
      <div class="grab">
        <p>
          airDrive gives you access to your files anywhere, anytime.
          We utilize enterprise-grade encryption and revolutionary peer-to-peer technology to ensure that only you have control of your files.
        </p>
      </div>
      <div class="convert">
        <div class="fail">
          Please try again.
        </div>
        <form method="post" action="/signup" class="signup">
          <input type="email" class="form-control" name="email" placeholder="Enter email address" required />
          <input type="submit" class="btn btn-primary" value="Get Early Access" />
        </form>
        <div class="loading">
          <span class="fa fa-spin fa-spinner"></span>
        </div>
        <div class="thanks">
          You should receive an email shortly regarding our beta waiting list.
        </div>
      </div>
      <div class="more">
        <a href="#info">Learn more &dArr;</a>`
      </div>
    </div><!-- /.container -->

    <div class="container-fluid section" id="info">
      <div class="row info-item">
        <div class="col-md-3">
          <span class="fa fa-lock"></span>
        </div>
        <div class="col-md-9">
          <h3>Secure</h3>
          <p>
            Unlike other cloud services such as Dropbox and Google Drive, airDrive’s cloud storage service is end-to-end encrypted.
            This mean that you’re the only one who can ever have access to your data—not hackers, not the NSA, not even us.
          </p>
        </div>
      </div>
      <div class="row info-item info-item-right">
        <div class="col-md-9">
          <h3>Cheap</h3>
          <p>
            airDrive’s cloud storage space is provided by a peer to peer network of computers, using previously unutilized storage space.
            This allows us to provide a more efficient and low cost cloud storage service.
          </p>
        </div>
        <div class="col-md-3">
          <span class="fa fa-money"></span>
        </div>
      </div>
      <div class="row info-item">
        <div class="col-md-3">
          <span class="fa fa-check"></span>
        </div>
        <div class="col-md-9">
          <h3>Easy</h3>
          <p>
            Our web interface makes it easy to upload and retrieve files.
            All the complexities of encryption are handled by our software, all you have to do is enjoy!
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid section" id="details">
      <div class="info-item">
        <h3>How does it work?</h3>
        <p>Maybe put a helpful video here?</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/21153cb4c1.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
