html, body {
  height: 100%;
}
body {
  background-image: url('/images/balloon.jpg');
  background-size: cover;
  background-position: center;
  color: #EEE;
}

.navbar-brand {
  font-size: 32px;
  color: #EEE;
}
.navbar-brand:hover {
  color: #CCC;
}
.navbar-brand img {
  display: inline-block;
}

.main-content {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-content h1 {
  font-size: 48px;
}
.main-content p {
  font-size: 20px;
}

.grab {
  color: #FFF;
}

.signup {
  display: inline-block;
  width: 400px;
}
.signup > * {
  font-size: 18px;
}
.signup input[type="email"] {
  text-align: center;
  margin-bottom: 10px;
  height: 40px;
}
.signup input[type="submit"] {
  padding: 8px 14px;
}
