html, body {
  height: 100%;
}
body {
  color: #EEE;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h3 {
  display: inline-block;
  font-size: 48px;
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
}
.navbar-brand {
  font-size: 32px;
  color: #EEE;
}
.navbar-brand:hover {
  color: #CCC;
}
.navbar-brand img {
  display: inline-block;
}

.section > * {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  height: 100%;
  min-height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('/images/balloon.jpg');
  background-size: cover;
  background-position: center;
}
.main-content p {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grab {
  color: #FFF;
  text-shadow: 0 2px 5px #666;
}

.convert {
  height: 120px;
}
.convert * {
  font-size: 18px;
}

.signup {
  display: inline-block;
  width: 400px;
}
.signup input[type="email"] {
  text-align: center;
  margin-bottom: 10px;
  height: 40px;
}
.signup input[type="submit"] {
  padding: 8px 14px;
}

.fail {
  color: #ffa3a3;
  display: none;
}
.loading {
  display: none;
  font-size: 26px;
}
.thanks {
  display: none;
}

.more {
  position: absolute;
  left: 0;
  right: 0;
}
.more a {
  color: inherit;
  font-size: 18px;
}

#info {
  color: #333;
  background-color: #fbfbfb;
}
#info .col-md-3 {
  text-align: center;
}
@media (max-width: 991px) {
  #info .col-md-3 {
    display: none;
  }
}
#info .fa {
  display: inline-block;
  font-size: 12em;
  margin-top: 10px;
}

#details {
  color: #EEE;
  background-color: #75c4da;
  text-shadow: 0 2px 5px #666;
}

.info-item {
  padding: 40px 10px;
}
.info-item-right {
  text-align: right;
}
.info-item p {
  font-size: 18px;
}
