html, body {
  height: 100%;
}
body {
  background-image: url('/images/balloon.jpg');
  background-size: cover;
  background-position: center;
  color: #EEE;
}

.navbar-brand {
  font-size: 32px;
  color: #EEE;
}
.navbar-brand:hover {
  color: #CCC;
}
.navbar-brand img {
  display: inline-block;
}

.main-content {
  padding-top: 51px;
  height: 100%;
}
.main-content > .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-content .col-md-8 {
  text-align: center;
  margin-bottom: 40px;
}
.main-content .col-md-8 h1 {
  font-size: 48px;
}
.main-content .col-md-8 p {
  font-size: 20px;
}
.main-content .col-md-4 {
  text-align: center;
}

.signup {
  display: inline-block;
}
.signup label {
  font-weight: 400;
  display: block;
  text-align: right;
}
.signup label input {
  width: 200px;
  display: inline;
}
.signup .btn {
  margin-left: 58px;
}
